<footer class="primary-font">
  
  <!-- Footer -->
  <div class="grid-x grid-padding-x grid-padding-y align-justify">
    
    <div class="small-12 large-shrink cell text-center">
      <ul class="menu align-center">
        <li><svg class="icon icon-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg></li>
        <li class="menu-text"><svg class="icon icon-tagline"><use xlink:href="/assets/icons/symbol-defs.svg#icon-tagline"></use></svg></li>
      </ul>
    </div>
    
    <div class="small-12 large-shrink cell show-for-large">
      <ul class="menu align-center">
        <li class="menu-text">Follow us</li>
        {% for item in site.social %}  
        <li><a href="{{ item[1] }}" target="_blank" rel="noopener"><span class="show-for-sr">{{ item[0] }}</span><svg class="icon icon-socials icon-{{ item[0] }}"><use xlink:href="/assets/icons/symbol-defs.svg#icon-{{ item[0] }}"></use></svg></a></li>
        {% endfor %} 
      </ul>
    </div>
    
  </div>
  <!-- End Footer -->
  
  <!-- Legal -->
  <div class="grid-x grid-padding-x grid-padding-y align-justify">
    
    <div class="small-12 large-shrink cell text-center">
      <a href="{{page.poster-file}}" download>Download Poster <svg class="icon icon-download4"><use xlink:href="/assets/icons/symbol-defs.svg#icon-download4"></use></svg></a>
    </div>
    
    <div class="small-12 large-shrink cell">
      <ul class="vertical large-horizontal menu align-center">
        <li><a href="/privacy">Privacy</a></li>
        <li><a href="/terms">Terms and Conditions</a></li>
        <li><a href="https://www.england.nhs.uk" target="_blank" rel="noopener">© NHS England</a></li>
      </ul>
    </div>
    
  </div>
  <!-- End Legal -->

</footer>