<!-- Footer -->
<footer class="primary-font padding-2">
<div class="grid-x grid-padding-x grid-padding-y">
  
  <div class="small-6 cell">
    <svg class="icon icon-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg>
  </div>
  
  <div class="small-6 cell text-right">
    <ul class="menu align-right">
      <li class="show-for-medium"><a href="#">Follow us</a></li>
      <li><a href="#"><svg class="icon icon-facebook"><use xlink:href="/assets/icons/symbol-defs.svg#icon-facebook"></use></svg></a></li>
      <li><a href="#"><svg class="icon icon-instagram"><use xlink:href="/assets/icons/symbol-defs.svg#icon-instagram"></use></svg></a></li>
    </ul>
  </div>
  
</div>
<!-- End Footer -->

<!-- Legal -->
<div class="grid-x grid-padding-x grid-padding-y">
  
  <div class="small-12 medium-6 cell">
    <a href="#">Download A4 Poster <svg class="icon icon-download4"><use xlink:href="/assets/icons/symbol-defs.svg#icon-download4"></use></svg></a>
  </div>
  
  <div class="small-12 medium-6 cell text-right">
    <ul class="menu align-right">
      <li><a href="#">Accessbility</a></li>
      <li><a href="#">Terms and Conditions</a></li>
      <li><a href="#">© NHS England</a></li>
    </ul>
  </div>
  
</div>
</footer>
<!-- End Footer -->