<!-- Footer -->
<footer class="primary-font">
<div class="grid-x grid-padding-x grid-padding-y align-justify">
  
  <div class="small-12 large-shrink cell text-center">
    <svg class="icon icon-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg>
  </div>
  
  <div class="small-12 large-shrink cell">
    <ul class="menu align-center">
      <li class="show-for-large menu-text">Follow us</li>
      {% for item in site.social %}  
      <li><a href="{{ item[1] }}" target="_blank" rel="noopener"><span class="show-for-sr">{{ item[0] }}</span><svg class="icon icon-socials icon-{{ item[0] }}"><use xlink:href="/assets/icons/symbol-defs.svg#icon-{{ item[0] }}"></use></svg></a></li>
      {% endfor %} 
    </ul>
  </div>
  
</div>
<!-- End Footer -->

<!-- Legal -->
<div class="grid-x grid-padding-x grid-padding-y align-justify">
  
  <div class="small-12 large-shrink cell text-center">
    <a href="#">Download A4 Poster <svg class="icon icon-download4"><use xlink:href="/assets/icons/symbol-defs.svg#icon-download4"></use></svg></a>
  </div>
  
  <div class="small-12 large-shrink cell">
    <ul class="vertical large-horizontal menu align-center">
      <li><a href="#">Accessibility</a></li>
      <li><a href="#">Terms and Conditions</a></li>
      <li><a href="#">© NHS England</a></li>
    </ul>
  </div>
  
</div>
</footer>
<!-- End Footer -->