<!-- Navigation -->
<div class="grid-x grid-padding-x grid-padding-y navigation align-justify align-middle">
  
  <div class="auto cell">
    <svg class="icon icon-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg>
  </div>
  
  <div class="shrink cell text-right">
    <ul class="menu align-right white primary-font">
      <li class="show-for-medium"><a href="#">Follow us</a></li>
      <li><a href="#"><svg class="icon icon-facebook"><use xlink:href="/assets/icons/symbol-defs.svg#icon-facebook"></use></svg></a></li>
      <li><a href="#"><svg class="icon icon-instagram"><use xlink:href="/assets/icons/symbol-defs.svg#icon-instagram"></use></svg></a></li>
    </ul>
  </div>
  
</div>
<!-- End Navigation -->