@font-face {
  font-family: 'Larsseit Regular';
  src: 
  url('../fonts/larsseit.woff2') format('woff2'), 
  url('../fonts/larsseit.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit Italic';
  src: 
  url('../fonts/larsseit-italic.woff2') format('woff2'), 
  url('../fonts/larsseit-italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit Extra Bold';
  src: 
  url('../fonts/larsseit-extra-bold.woff2') format('woff2'), 
  url('../fonts/larsseit-extra-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit Extra Bold Italic';
  src: 
  url('../fonts/larsseit-extra-bold-italic.woff2') format('woff2'), 
  url('../fonts/larsseit-extra-bold-italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}