//  Table of Contents:
//
//   1. Mixins
//   2. Global
//   4. Color
//   5. Typography
//   6. Navigation
//   7. Sections


// 1. Mixins
// ---------

@mixin links ($link, $hover) {
  a {
    color: $link;
    transition: color .35s cubic-bezier(.39, .575, .565, 1);
    &:hover {
      color: $hover;   
      transition: color .35s cubic-bezier(.39, .575, .565, 1);
    }
  }
}

// 2. Global
// ---------

html {
  font-size: 18px;
  @include breakpoint(medium) {
    font-size: 20px;
  }
}

p {
  font-size: 18px;
  @include breakpoint(medium) {
    font-size: 20px;
  }
}


body {
  cursor: default;
  font-kerning: normal;
}

svg {
  max-width: 100%;
}

::selection {
  background: $primary-color;
  color: $white;
}

:focus {
  outline: 0;
}

// 4. Color
// --------

.white {
  color: $white;
  @include links ($white, $primary-color)
}

.orange {
  color: get-color(orange);
}

.bright-maroon {
  color: get-color(bright-maroon);
}


// 5. Typography
// -------------

.menu .menu-text {
font-weight: normal;
}

strong, b {
font-weight: normal;
font-family: $secondary-font-family-italic;
}

.underline {
  border-bottom: 1px solid $black;
  transition: border-bottom .35s cubic-bezier(.39, .575, .565, 1);
}

.underline:hover {
  border-bottom: 1px solid transparent;
  transition: border-bottom .35s cubic-bezier(.39, .575, .565, 1);
}

.uppercase {
  text-transform: uppercase;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

p a {
  border-bottom: 2px solid $black;
  transition: border-bottom .35s cubic-bezier(.39, .575, .565, 1);
}

p a:hover {
  border-bottom: 2px solid transparent;
  transition: border-bottom .35s cubic-bezier(.39, .575, .565, 1);
}

.primary-font {
  font-family: $primary-font-family;
}

.primary-font-italic {
  font-family: $primary-font-family-italic;
}

.secondary-font {
  font-family: $secondary-font-family;
}

.secondary-font-italic {
  font-family: $secondary-font-family-italic;
}

// 6. Navigation
// -------------


.home .navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: $white;
  @include links ($white, $primary-color)
}

.navigation {
  @include padding(1.5,1.5,0,1.5);
  @include breakpoint(medium) {
    @include padding(2,2,0,2);
  }
}

// 7. Sections
// -------------

section {
  @include padding(1.5,1.5,1.5,1.5);
  @include breakpoint(medium) {
    @include padding(2,2,2,2);
  }
}

.hero {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 90vh;
  h1 {
    margin-bottom: 0;
  }
  h1 span {
    background-color: get-color(medium-teal-blue);
    box-shadow: -1.25rem 0 0  get-color(medium-teal-blue), 1.25rem 0 0 get-color(medium-teal-blue);
    box-decoration-break: clone;
    line-height: 0.8;
    padding: 1.25rem 0.5rem 1rem 0.5rem;
    display:inline-block;
  }
  h1 span em{
    color: get-color(orange);
  }
  .second span {
    padding: 0.75rem 0.5rem 1.5rem 0.5rem;
  }
}

.hashtag {
  @include padding(1.5,1.5,1.5,1.5);
  @include breakpoint(medium) {
    @include padding(2,2,2,2);
  }
  position: absolute;
  bottom: 0;
  left: 0;
}

.find {
  background-color: get-color(orange);
  color: $white;
  a {
    color: $white;
    border-bottom: 3px solid $white;
    transition: border-bottom .35s cubic-bezier(.39, .575, .565, 1);
    &:hover {
      color: $white;
      border-bottom: 3px solid transparent;
      transition: border-bottom .35s cubic-bezier(.39, .575, .565, 1);
    }
  }
}

.how {
  background-color: get-color(gallery);
}

.when {
  background-color: get-color(tiffany-blue);
  color: $white;
  @include links ($white, $white);
  p a {
    border-bottom: 2px solid $white;
    transition: border-bottom .35s cubic-bezier(.39, .575, .565, 1);
  }
  p a:hover {
    border-bottom: 2px solid transparent;
    transition: border-bottom .35s cubic-bezier(.39, .575, .565, 1);
  }
}

footer {
  @include padding(1.5,1.5,1.5,1.5);
  @include breakpoint(medium) {
    @include padding(2,2,2,2);
  }
  background-color: get-color(bright-maroon);
  color: $white;
  @include links ($white, $black)
}