//  Table of Contents:
//
//   1. Mixins
//   2. Global
//   3. Plugins
//   4. Color
//   5. Typography
//   6. Navigation
//   7. Off-canvas
//   8. Layout
//   9. Home
//   10. Menu / Food
//   11. Find Us
//   12. Story
//   13. Hire Us
//   14. Contact
//   15. Page
//   16. Footer


// 1. Mixins
// ---------

@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}

// 2. Global
// ---------

body {
  cursor: default;
  font-kerning: normal;
}

svg {
  max-width: 100%;
}

::selection {
  background: $primary-color;
  color: $black;
}

:focus {
  outline: 0;
}

// 4. Color
// --------

.white {
  color: $white;
  @include links ($white, $primary-color)
}

.bright-maroon {
  color: get-color(bright-maroon);
}

.orange {
  color: get-color(orange);
}

.home .navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: $white;
  @include links ($white, $primary-color)
}

// 5. Typography
// -------------

.menu .menu-text {
font-weight: normal;
}

strong, b {
font-weight: normal;
font-family: $secondary-font-family-italic;
// font-size: 110%;
}

.underline {
  border-bottom: 1px solid $black;
}

.uppercase {
  text-transform: uppercase;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

p a {
  border-bottom: 2px solid $black;
}

.primary-font {
  font-family: $primary-font-family;
}

.primary-font-italic {
  font-family: $primary-font-family-italic;
}

.secondary-font {
  font-family: $secondary-font-family;
}

.secondary-font-italic {
  font-family: $secondary-font-family-italic;
}

.hero {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 85vh;
  background-color: $light-gray;
  h1 span {
    padding: 0.5rem;
    background: get-color(medium-teal-blue);
    box-shadow: -0.5rem 0 0 get-color(medium-teal-blue), 0.5rem 0 0 get-color(medium-teal-blue);
    box-decoration-break: clone;
  }
  h1 span em{
    color: get-color(orange);
  }
}

.find {
  background-color: get-color(orange);
  color: $white;
  a {
    color: $white;
    border-bottom: 3px solid $white;
    &:hover {
      color: $white;
      border-bottom: 3px solid transparent;
    }
  }
}

.how {
  background-color: get-color(gallery);
}

.when {
  background-color: get-color(tiffany-blue);
  color: $white;
  @include links ($white, $primary-color);
  p a {
  border-bottom: 2px solid $white;
  }
}

footer {
  @include padding(1.5,1.5,1.5,1.5);
  @include breakpoint(medium) {
    @include padding(2,2,2,2);
  }
  background-color: get-color(bright-maroon);
  color: $white;
  @include links ($white, $primary-color)
}

.navigation {
  @include padding(1.5,1.5,0,1.5);
  @include breakpoint(medium) {
    @include padding(2,2,0,2);
  }
}

section {
  @include padding(1.5,1.5,1.5,1.5);
  @include breakpoint(medium) {
    @include padding(2,2,2,2);
  }
}

.hashtag {
    @include padding(1.5,1.5,1.5,1.5);
  @include breakpoint(medium) {
    @include padding(2,2,2,2);
  }
  position: absolute;
  bottom: 0;
  left: 0;
}