---
layout: compress
---

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<!-- Head -->
{% include head.html %}
<!-- End Head -->

<body class="{{page.layout | slugify}}">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MSQL4R8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Navigation -->
{% include navigation.html %}
<!-- End Navigation -->

<!-- Content -->
{{content}}
<!-- End Content -->

<!-- Footer -->
{% include footer.html %}
<!-- End Footer-->

<!-- Scripts -->
{% include scripts.html %}
<!-- End Scripts -->

<!-- Google Analytics -->
{% if site.analytics %}
{% include analytics.html %}
{% endif %}
<!-- End Google Analytics -->
</body>

</html>