---
layout: default
---

{% assign background-image = page.hero-image %}
<section class="hero" {% include images/feature.html %}>
  <div class="grid-x align-middle align-center" style="height: 100%;">
    <div class="small-10 medium-10 large-8 xxlarge-6 cell text-center">
      <h1 class="white secondary-font-italic" data-aos="fade-in"><span>Pregnant <em>and</em> Prepared</span></h1>
    </div>
  </div>
</section>
<!-- End Menu Hero -->


<!-- Find Details -->
<section class="find padding-top-3 padding-bottom-3">
  <div class="grid-container">
    <div class="grid-x grid-padding-y" data-aos="fade-in">
      <div class="small-12 cell text-center">
        <h2>Find details on how to self-refer to your local maternity here</h2>
        <p>The NHS recommends you contact your local maternity unit as soon as you find out you are pregnant.</p>
      </div>
    </div>
  </div>
</section>
<!-- End Find Details -->



<!-- Why -->
<section class="why">
  
  <div class="grid-container">
    <div class="grid-x" data-aos="fade-in">
      <div class="small-12 medium-6 cell">
        <img src="/uploads/anna.jpg" alt="Anna">
      </div>
      <div class="small-12 medium-6 cell padding-2">
        <h2 class="secondary-font-italic bright-maroon">Why make contact early?</h2>
        <p>Contacting your local maternity unit as soon as you find out you are pregnant will ensure you are offered all available services during your pregnancy. You will also receive the most up to date information, reassurance and mutual support at the start of your journey. Ideally you should make contact with a midwife before 10 weeks of pregnancy. This is because some tests cannot be carried out later in pregnancy, for example the test for sickle cell and thalassaemia can only be carried out prior to 10 weeks. Your pregnancy will be treated confidentially, even if you are under 16.</p>
        <p>For further information you can find your local maternity services here.</p>
      </div>
    </div>
  </div>
  
</section>
<!-- End Why -->

<!-- How -->
<section class="how padding-top-3 padding-bottom-3">
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y" data-aos="fade-in">
      <div class="small-12 medium-6 cell">
        <h2 class="secondary-font-italic orange">How do I contact my local maternity unit?</h2>
        <p>You can find contact details for your local maternity unit by following the links on this page.</p>
        <p>If you live outside of Essex you can find your local maternity unit via the NHS Choices page here.</p>
      </div>
      <div class="small-12 medium-6 cell">
        <h3>West Essex Patients</h3>
        <p>Including Loughton, Buckhurst Hill, Chigwell, Waltham Abbey, Rodings , Saffron Walden, East Hertfordshire </p>
        <p>Contact: Princess Alexandra Hospital</p>
      </div>
    </div>
  </div>
</section>
<!-- End How -->

<!-- When -->
<section class="when padding-top-3 padding-bottom-3">
<div class="grid-container">
<div class="grid-x grid-padding-x grid-padding-y" data-aos="fade-in">
  <div class="small-12 cell text-center">
    <h2 class="secondary-font-italic">When can you take a pregnancy test?</h2>
  </div>
  <div class="small-12 medium-6 cell">
    <p>You can carry out most pregnancy tests from the first day of a missed period. If you don't know when your next period is due, take the test at least 21 days after you last had unprotected sex. Some very sensitive pregnancy tests can be used even before you miss a period, from as early as eight days after conception.</p>
  </div>
  <div class="small-12 medium-6 cell">
    <p>You can take  a pregnancy test on a sample of urine collected at any time of the day. It doesn't have to be in the morning. For more information you can findyour local maternity services here.
</p>
  </div>
</div>
</div>
</section>
<!-- End When -->

<!-- Where -->
<section class="where padding-top-3 padding-bottom-3">
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y" data-aos="fade-in">
      <div class="small-12 medium-6 cell">
        <h2 class="secondary-font-italic bright-maroon">Where can I find more information on pregnancy?</h2>
        <p>Use our NHS-accredited links below for more information and support on pregnancy, childbirth and becoming a new parent.</p>
        <p>You can find further information on pregnancy via the NHS Choices page here.</p>
      </div>
      <div class="small-12 medium-6 cell">
        <h3>West Essex Patients</h3>
        <p>Including Loughton, Buckhurst Hill, Chigwell, Waltham Abbey, Rodings , Saffron Walden, East Hertfordshire </p>
        <p>Contact: Princess Alexandra Hospital</p>
      </div>
    </div>
  </div>
</section>
<!-- End Where -->